Flask>=2.0
web3>=5.25.0

[Unit]
Description=Api wake para la ejecucion del contrato
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/opt/apps/web3-api-contract
Environment="/opt/apps/web3-api-contract/miapi_env/bin"
ExecStart=/opt/apps/web3-api-contract/miapi_env/bin/gunicorn --workers 4 --bind unix:apiwake.sock -m 007 main:app

[Install]
WantedBy=multi-user.target
